<!-- Barre de navigation mobile qui se cache à partir d'une certaine dimension -->
<nav class="bg-black w-full fixed bottom-0 md:hidden">
    <ul>
        <li>
            <button (click)="router.navigate(['statistics'])" class="flex flex-col items-center">
                <mat-icon class="mat-18">monitoring</mat-icon>
            </button>
        </li>
        <li class="relative">
            @if(isMobile) {
                <input type="file" accept="image/*" class="camera-input" name="camera-input" id="camera-input" onclick="value = null" (change)="guessService.makeGuessFromInputEvent($event)">
                <label class="camera-icon" for="camera-input">
                    <mat-icon>photo_camera</mat-icon>
                </label>
            }

            @else {
                <button (click)="router.navigate(['scan'])" class="camera-icon">
                    <mat-icon>photo_camera</mat-icon>
                </button>
            }
        </li>
        <li>
            <button (click)="router.navigate(['history'])" class="flex flex-col items-center">
                <mat-icon>history</mat-icon>
            </button>
        </li>
    </ul>
</nav>
