<main-header></main-header>

<primary-card src="../assets/img/img_card.png"></primary-card>

<div class="flex flex-col items-center justify-center p-4 font-poppins">
    <div class="flex justify-between w-full max-w-md mt-4 space-x-4 mx-2">
        <secondary-card src="../assets/img/img_card2.png" title="Statistiques" class="w-1/2" (click)='this.router.navigate(["/statistics"])'></secondary-card>
        <secondary-card src="../assets/img/img_card3.png" title="Historique" class="w-1/2" (click)='this.router.navigate(["/history"])'></secondary-card>
    </div>
</div>          

<navbar-mobile></navbar-mobile>