<div class="flex flex-col items-center justify-center p-4 font-poppins">

  <div class="w-full max-w-md p-4 rounded-lg shadow-md mt-4 mx-2 bg-card">
      <div class="flex justify-center">
        <img src={{src}} alt="Astérix et Obélix" class="w-32 h-32 object-cover">
      </div>
      <h1 class="text-center text-white text-xl font-bold mt-4">Astérix ou Obélix ?</h1>
      <p class="text-center text-gray-400">La réponse en un instant</p>
      <div class="mt-4 flex justify-center">
        <button class="bg-blue-200 text-black py-2 px-4 rounded w-full">Scanner</button>
      </div>
  </div>
</div>
  