.font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .bg-card {
    background-color: #1f1f1f;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9ca3af;
  }
 