<div class="flex flex-col items-center justify-center p-4 font-poppins">
    <div class="w-full max-w-md p-8 rounded-lg shadow-md bg-card">
      <h2 class="text-white text-center text-2xl mb-6">Se connecter</h2>
      <div class="mb-4 relative">
        <label for="UserEmail" class="block text-sm font-medium text-gray-400">Email</label>
        <div class="relative mt-1">
            <mat-icon>alternate_email</mat-icon>
          <input
            type="email"
            id="UserEmail"
            placeholder="Email"
            class="w-full pl-10 rounded-md border-gray-600 bg-gray-700 text-white placeholder-gray-400 shadow-sm focus:border-blue-500 focus:ring-blue-500"
          />
        </div>
      </div>
      <div class="mb-6 relative">
        <label for="UserPassword" class="block text-sm font-medium text-gray-400">Mot de passe</label>
        <div class="relative mt-1">
          <mat-icon>lock</mat-icon>
          <input
            type="password"
            id="UserPassword"
            placeholder="Mot de passe"
            class="w-full pl-10 rounded-md border-gray-600 bg-gray-700 text-white placeholder-gray-400 shadow-sm focus:border-blue-500 focus:ring-blue-500"
          />
        </div>
      </div>
      <div class="flex items-center mb-6">
        <input
          type="checkbox"
          id="rememberMe"
          class="h-4 w-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-500"
        />
        <label for="rememberMe" class="ml-2 block text-sm text-gray-400">Se souvenir de moi</label>
      </div>
      <button class="w-full py-2 px-4 bg-blue-600 text-white rounded-md shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">CONNEXION</button>
    </div>
  </div>