<!-- Barre de navigation mobile qui se cacha a partir d'une certaine dimension -->
<nav class="bg-gray-800 w-full py-4 fixed bottom-0 md:hidden">
    <ul class="flex justify-around text-white">
        <li>
            <a href="#" class="flex flex-col items-center">
                <mat-icon class="mat-18">monitoring</mat-icon>
            </a>
        </li>
        <li>
            <a href="#" class="flex flex-col items-center">
                <mat-icon fontSet="material-icons-outlined">photo_library</mat-icon>
            </a>
        </li>
        <li>
            <a href="#" class="flex flex-col items-center">
                <mat-icon fontSet="material-icons-outlined">photo_camera</mat-icon>                 
            </a>
        </li>
        <li>
            <a href="#" class="flex flex-col items-center">
                <mat-icon fontSet="material-icons-outlined">pie_chart</mat-icon>
            </a>
        </li>
        <li>
            <a href="#" class="flex flex-col items-center">
                <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
            </a>
        </li>
    </ul>
</nav>